{% block header %}

<header class="header fixed-top">
    <nav class="container d-flex justify-content-between align-items-center">
        <a href="{% url 'home' %}" class="btn btn-link">Home</a>
        <div>
            {% if user.is_authenticated %}
            <form action="{% url 'accounts:logout' %}" method="post" class="mb-0 ms-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'accounts:login' %}">Login</a>
            <a href="{% url 'accounts:register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
</header>

{% endblock header %}

